workflows/Get Weather Forecast via Telegram.json
{
  "active": false,
  "connections": {
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-23T05:00:47.483Z",
  "id": "U2hJbP8EX1CY4r5v",
  "meta": {
    "templateId": "346",
    "templateCredsSetupCompleted": true
  },
  "name": "Get Weather Forecast via Telegram",
  "nodes": [
    {
      "parameters": {
        "cityName": "berlin,de"
      },
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        590,
        240
      ],
      "typeVersion": 1,
      "id": "df55ab9d-ac97-46a7-a139-abf736046e82",
      "credentials": {
        "openWeatherMapApi": {
          "id": "2R9r1Wjd1pESIDZC",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=Right now, we have {{$node[\"OpenWeatherMap\"].json[\"weather\"][0][\"description\"]}}. The temperature is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C but it really feels like {{$node[\"OpenWeatherMap\"].json[\"main\"][\"feels_like\"]}}°C 🙂\n\n\n\n",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        780,
        240
      ],
      "typeVersion": 1,
      "id": "142a3499-3156-4dbe-9901-f4b850728a94",
      "credentials": {
        "telegramApi": {
          "id": "mNdu0O9VzxQ43wIS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "inline_query",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "id": "769bb733-c61f-4497-9cba-eec9b6cee4cc",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ],
      "webhookId": "c65cf7f8-67f9-45f8-aa73-dc9b0d1688c9",
      "credentials": {
        "telegramApi": {
          "id": "mNdu0O9VzxQ43wIS",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-23T05:57:24.000Z",
  "versionId": "462c4209-3513-4e37-b54d-5dab8547845a"
}